
.commentsImg
{
    height: 40px !important;
    width: 40px !important;
    object-fit: cover;
}

.commentColaps{
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
     margin: 0;
    cursor: pointer;
    transition: color 0.3s;
    
}

.commentColaps:hover{
    color:black;
    text-decoration: underline;
}

.postCommentText{
    color: rgba(0, 0, 0, 0.65);
    transition: color 0.3s;
    cursor: pointer;
    margin-bottom: 7px;
    /* border-bottom: 1px dashed gray; */
    font-size: 15px;
    text-align: left;
}

.postCommentText:hover{
    color:black;
    text-decoration: underline;
}